
@{
    ViewBag.Title = "Area Assignment";
}

<link href="~/Stylee/NewUsersStylee.css" rel="stylesheet" />

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        <style>
            .page-title {
                text-align: center;
                font-size: 21px;
                font-weight: 700;
                color: #2c3e50;
                margin-bottom: 15px;
            }

            .section-subtitle {
                text-align: center;
                font-size: 17px;
                font-weight: 500;
                color: #555;
                margin-bottom: 25px;
            }
        </style>

        <h2 class="page-title">Assignment of Application Areas </h2>
        <h4 class="section-subtitle">It is important to assign the areas to hisense users in order to make requests</h4>

        <hr>
        <div style=" display: flex; justify-content: center; align-items: center; height: auto;">
            <button class="animated-button" onclick="location.href='@Url.Action("NewUser","Users")'">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="text">Return to back</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </div>
        <hr>

        @using (Html.BeginForm("AsignacionHisense", "Users", FormMethod.Post))
        {
            <h5 class="Tittlelabel"> General Information </h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
            <p style="text-align: center;">&nbsp;</p>

            <input type="text" id="status" name="status" value="CHOFFER" hidden="hidden" required>

            <h5 class="labelTitt" id="username"> @ViewBag.Username </h5>
            <input type="text" id="username" name="username" value="@ViewBag.Username" hidden="hidden" required>

            <h5 style="text-align:center" id="id"> @ViewBag.id </h5>
            <input type="text" id="id" name="id" value="@ViewBag.id" hidden="hidden" required>

            <h2 hidden="hidden" name="user" id="user"> @ViewBag.User </h2>
            <input type="text" id="user" name="user" value="@ViewBag.User" hidden="hidden" required>

            <p style="text-align: center;">&nbsp;</p>
            <h5 class="Tittlelabel"> Area Assignment </h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
            <p style="text-align: center;"> </p>
            <div class="group" style="padding: 10px 0px 0px 0px">
                <select name="Area" id="Area" class="form-control" style="max-width: 30vh; color: black; text-align: center">
                    @foreach (var person in ViewBag.Records)
                    {
                        <option value="@person.Name">@person.Name</option>
                    }
                </select>
            </div>

            <p style="text-align: center;">&nbsp;</p>
            <button type="submit" class="Bto_saved">
                ✅ Save
            </button>
        }

        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">&nbsp;</p>

        <h4 class="Tittlelabel" style="font-weight: 700;"> User Assigned Areas in the System </h4>
        <h5 class="Tittlelabel"> Total Records: @ViewBag.Count </h5>


    </div>
</div>

<div class="table-scroll">
    <ul class="responsive-table">

        <li class="table-header" id="tableData">

            <div class="col col-2" style="text-align:center">Who Asign</div>

            <div class="col col-2" style="text-align:center">Username</div>

            <div class="col col-1" style="text-align:center">Enterprise</div>

            <div class="col col-3" style="text-align:center">Area</div>

            <div class="col col-3" style="text-align:center">Date</div>

            <div class="col col-3" style="text-align:center">Options</div>

        </li>
        @foreach (var person in ViewBag.Recordstable)
        {
            <li class="table-row" id="tblCustomers">

                <div class="col col-2" data-label="Who_create" style="text-align:center">@person.Who_create</div>

                <div class="col col-2" data-label="Username" style="text-align:center">@person.Username</div>

                <div class="col col-1" data-label="Enterprise" style="text-align:center">@person.Enterprise</div>

                <div class="col col-3" data-label="Area" style="text-align:center"> @person.Areas</div>

                <div class="col col-3" data-label="Date" style="text-align:center"> @person.Datetime</div>

                <div class="col col-3" data-label="Options" style="text-align:center">

                    @Html.ActionLink("❌ Delete", "AssignmentDelete", new { name = @person.Username, area = person.Areas, status = "RADA" })

                </div>

            </li>
        }
    </ul>

</div>

<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>

