
@{
    ViewBag.Title = "RADA Logistics - New Users";
}

<link href="~/Stylee/NewUsersStylee.css" rel="stylesheet" />

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        @*<h3 style="font-weight: 700;">Rada Logistics system</h3>

        <p style="text-align: center;">&nbsp;</p>
        <img src="~/Pictures/add.png" height="90" />
        <p style="text-align: center;">&nbsp;</p>*@

        <style>
            .page-title {
                text-align: center;
                font-size: 21px;
                font-weight: 700;
                color: #2c3e50;
                margin-bottom: 15px;
            }

            .section-subtitle {
                text-align: center;
                font-size: 17px;
                font-weight: 500;
                color: #555;
                margin-bottom: 25px;
            }
        </style>

        <h2 class="page-title"> Generate new user to the system </h2>
        <h4 class="section-subtitle"> Create New User </h4>

        <hr>
        <div style=" display: flex; justify-content: center; align-items: center; height: auto;">
            <button class="animated-button" onclick="location.href='@Url.Action("Home","Users")'">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="text">Return to back</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </div>
        <hr>

        @using (Html.BeginForm("GetUser", "Users", FormMethod.Post))
        {
            <h5 class="typelbl" style="text-align: center; font-size: 15px; font: bold; ">Type:</h5>
            <div class="group">
                <select name="TypeUsers" id="TypeUsers" class="form-control" style="max-width: 30vh; color: black; text-align: center">
                    <option value="ADMINISTRATOR">ADMINISTRATOR</option>
                    <option value="HISENSE">HISENSE</option>
                    <option value="RADA">RADA</option>
                </select>
            </div>
            <p style="text-align: center;">&nbsp;</p>

            <input id="UserCreate" name="UserCreate" value="@ViewBag.Create" hidden="hidden" />

            <h5 class="Tittlelabel"> Information Personal</h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
            <p style="text-align: center;">&nbsp;</p>
            <div class="group">
                <input type="text" id="Username" name="Username" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter your Username:</label>
            </div>

            <div class="group">
                <input type="number" id="Credentials" name="Credentials" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Employee Number:</label>
            </div>

            <h5 class="Tittlelabel"> Email and Log In </h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
            <p style="text-align: center;">&nbsp;</p>

            <div class="group">
                <input type="text" id="Email" name="Email" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter your Email:</label>
            </div>

            <div class="group">
                <input type="text" id="Log" name="Log" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter your Log In:</label>
            </div>

            <div class="group">
                <input type="password" id="Pass" name="Pass" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter your password:</label>
            </div>

            <h5 class="Tittlelabel"> Message: @ViewBag.message </h5>
            <p style="text-align: center;">&nbsp;</p>
            <button type="submit" class="Bto_saved">
                ✅ Save
            </button>

            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>

            <h4 class="Tittlelabel" style="color:red"> @ViewBag.message </h4>
        }

        <p style="text-align: center;">&nbsp;</p>
        <h4 class="Tittlelabel" style="font-weight: 700;"> Users recently registered to the system </h4>
        <h5 class="Tittlelabel"> Total Records: @ViewBag.Count </h5>
    </div>



</div>

<div class="table-scroll">
    <ul class="responsive-table">
        <li class="table-header" id="tableData">

            <div class="col col-1" style="text-align: center; flex-basis: 10%;">ID</div>

            <div class="col col-2" style="text-align: center; flex-basis: 30%">Username</div>

            <div class="col col-1" style="text-align: center; flex-basis: 10%">Credentials</div>

            <div class="col col-3" style="text-align: center; flex-basis: 20%">Log In</div>

            <div class="col col-4" style="text-align: center; flex-basis: 10%">Type User</div>

            <div class="col col-5" style="text-align: center; flex-basis: 10%">Date</div>

            <div class="col col-8" style="text-align: center; flex-basis: 20%">Options</div>

        </li>
        @foreach (var person in ViewBag.Records)
        {
            <li class="table-row" id="tblCustomers">

                <div class="col col-1" data-label="ID" style="text-align: center; flex-basis: 10%">@person.ID</div>

                <div class="col col-2" data-label="Username" style="text-align: center; flex-basis: 30%">@person.Username</div>

                <div class="col col-1" data-label="Credentials" style="text-align: center; flex-basis: 10%"> @person.Employee_Number</div>

                <div class="col col-3" data-label="Log In" style="text-align: center; flex-basis: 20%"> @person.Login_session</div>

                <div class="col col-4" data-label="Type User" style="text-align: center; flex-basis: 10%"> @person.Type_user</div>

                <div class="col col-5" data-label="Date" style="text-align: center; flex-basis: 10%"> @person.DateAdded</div>

                <div class="col col-8" data-label="Options" style="text-align: center; flex-basis: 20%">

                    @if (person.Type_user == "HISENSE")
                    {
                        @: @Html.ActionLink("🪢 Area Assignment", "Assignments", new { id = @person.ID, ETP = "HISENSE" }) /
                    }

                    @if (person.Type_user == "RADA")
                    {
                        @: @Html.ActionLink("🪢 Area Assignment", "Assignments", new { id = @person.ID, ETP = "RADA" }) /
                    }

                    @Html.ActionLink("♻️ Update", "UpdateProcess", new { ID = @person.ID }) /
                    @Html.ActionLink("❌ Delete", "RemoveUser", new { ID = @person.ID })

                </div>

            </li>

        }
    </ul>
</div>

    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
