
@{
    ViewBag.Title = "RADA Logistics - Update Driver";
}

<link href="~/Stylee/NewUsersStylee.css" rel="stylesheet" />

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        <h3 class="labelTitt">
            Updating driver data - driver Control View
        </h3>
        <h4 style="text-align:center">Update Information</h4>

        <hr>
        <div style=" display: flex; justify-content: center; align-items: center; height: auto;">
            <button class="animated-button" onclick="location.href='@Url.Action("NewChoffer","Users")'">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="text">Return to back</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </div>
        <hr>

       @using (Html.BeginForm("updatenewChoffer", "Users", FormMethod.Post))
        {
            <input type="text" id="id" name="id" value="@ViewBag.id" hidden="hidden" required>

            <h5 class="Tittlelabel"> Information Personal</h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
            <p style="text-align: center;">&nbsp;</p>
            <div class="group">
                <input type="text" id="Username" name="Username" value="@ViewBag.User" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter your Username:</label>
            </div>

            <div class="group">
                <input type="text" id="Fastcard" name="Fastcard" value="@ViewBag.Fastcard" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter your Fastcard:</label>
            </div>

            <div class="group">
                <input type="text" id="Shift" name="Shift" value="@ViewBag.Shift" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter your Shift:</label>
            </div>

            @*<h5 class="typelbl" style="text-align: center; font-size: 15px; font: bold; ">Assigned work Area:</h5>
            <div class="group">
                <select name="Area" id="Area" class="form-control" style="max-width: 30vh; color: black; text-align: center">
                    <option value="@ViewBag.Area">@ViewBag.Area</option>
                    @foreach (var person in ViewBag.Records)
                    {
                        <option value="@person.Name">@person.Name</option>
                    }
                </select>
            </div>
            <p style="text-align: center;">&nbsp;</p>*@

            <h5 class="Tittlelabel"> Date of entry </h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">

            <div class="group">
                <input type="text" id="Date" name="Date" value="@ViewBag.datetime" readonly="@true" required>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>

            <p style="text-align: center;">&nbsp;</p>
            <button type="submit" class="Bto_saved">
                Update
            </button>
            <p style="text-align: center;">&nbsp;</p>

        }

    </div>
</div>

