
@{
    ViewBag.Title = "RADA Logistics | Request Container";
}

<link href="~/Stylee/HisensePages.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        <style>
            /* Agrega esto en tu CSS o en la sección <style> */
            input[type="checkbox"] {
                width: 20px;
                height: 20px;
                cursor: pointer;
                /* Para Safari, usar -webkit-appearance */
                -webkit-appearance: checkbox;
                appearance: checkbox;
                /* Opcional: quitar estilos predeterminados para mayor control */
                outline: none;
                margin-right: 15px; /* espacio entre checkbox y label */
                vertical-align: middle;
            }

            /* Clase personalizada si quieres más control */
            .custom-checkbox {
                width: 20px;
                height: 20px;
                cursor: pointer;
                -webkit-appearance: checkbox;
                appearance: checkbox;
                margin-right: 8px;
                vertical-align: middle;
            }

            .page-title {
                text-align: center;
                font-size: 21px;
                font-weight: 700;
                color: #2c3e50;
                margin-bottom: 15px;
                letter-spacing: 0px;
            }

            .section-subtitle {
                text-align: center;
                font-size: 17px;
                font-weight: 500;
                color: #555;
                margin-bottom: 25px;
            }
        </style>

        <h2 class="page-title"> Solicitud de nuevo contenedor </h2>
        <h4 class="section-subtitle">Completa lo siguiente para solicitar un nuevo movimiento</h4>

        @using (Html.BeginForm("ProcessData", "HISENSE", FormMethod.Post))
        {
            <p style="text-align: center;">&nbsp;</p>
            <h5 class="Tittlelabel" style=" font-weight: 700;">Informacion de usuario </h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
            <p style="text-align: center;">&nbsp;</p>

            <div class="group">
                <input style="font-size:12px" readonly="@true" type="text" id="User" name="User" value="@ViewBag.User" required>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>

            <h5 class="Tittlelabel" style=" font-weight: 700;"> Informacion de Contenedor </h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
            <p style="text-align: center;">&nbsp;</p>

            <h5 class="Tittlelabel" style=" font-weight: 700; ">Selecciona el estatus del contenedor:</h5>
            <div class="group">
                <select name="Type" id="Type" class="form-control" style="max-width: 30vh; color: black;  text-align: center ">

                    <option value="CAR"> CAR </option>
                    <option value="VAC"> VAC </option>

                </select>
            </div>

            <h5 class="Tittlelabel" style="font-weight: 700;">Marca el nivel de urgencia del movimiento:</h5>

            <div class="group">
                <select name="NivelUrgencia" id="NivelUrgencia" class="form-control" style="max-width: 30vh; color: black; text-align: center;">
                    <option value="Normal">Normal</option>
                    <option value="Urgente">Urgente</option>
                    <option value="Critico">Critico</option>
                </select>
            </div>

            <!-- Contenedor oculto por defecto y centrado -->
            <div id="MotivoUrgenciaContainer" style="margin-top: 15px; display: none; flex-direction: column; align-items: center;">
                <p for="MotivoUrgencia" style="font-weight: 600; margin-bottom: 5px;">Motivo de urgencia:</p>
                <input type="text" name="MotivoUrgencia" id="MotivoUrgencia" class="form-control"
                       placeholder="Describe el motivo..." style="max-width: 50vh; color: black; text-align: center;">
            </div>
            <br>

            <h5 class="Tittlelabel" style=" font-weight: 700;">Selecciona Area:</h5>
            <div class="group" style="padding: 5px 0px 0px 0px">
                <select name="Area" id="Area" class="form-control" style="max-width: 30vh; color: black; text-align: center">
                    @foreach (var person in ViewBag.listed)
                    {
                        <option value="@person.Area">@person.Area</option>
                    }
                </select>
            </div>

            <div style="display:flex; flex-direction:column; align-items:center; justify-content:center;">

                <div id="checkboxContainer1" style="display:flex; align-items:center;">
                    <input type="checkbox" id="chkActivoGrua" class="custom-checkbox" />
                    <h5 class="Tittlelabel" style="font-weight: 700; color: #5264AE">
                        ¿Está el contenedor en la grúa?
                    </h5>
                </div>
                <input type="hidden" name="ActivoHidden" id="ActivoHidden" value="NO" />

                <div id="checkboxContainer2" style="display:flex; align-items:center;">
                    <input type="checkbox" id="chkActivoRampa" class="custom-checkbox" />
                    <h5 class="Tittlelabel" style="font-weight: 700; color: #5264AE">
                        ¿El movimiento es de Rampa a Rampa?
                    </h5>
                </div>
                <input type="hidden" name="ActivoRampa" id="ResultRampa" value="NO" />

            </div>

            @*<div id="checkboxContainer2">
                <h5 class="Tittlelabel" style="font-weight: 700; color: #5264AE">
                    ¿El movimiento es de Rampa a Rampa?
                </h5>
                @Html.CheckBox("ActivoRampa", new { id = "chkActivoRampa" })
                <label for="chkActivoRampa">Activo</label>
            </div>
            <input type="hidden" name="ActivoRampa" id="ResultRampa" value="NO" />*@


            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>

            <div class="group">
                <input style="font-size: 15px; background-color: #F3F5F8; " type="text" id="Container" name="Container" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Ingresa numero de contenedor:</label>
            </div>

            <div class="group">
                <input style="font-size: 15px; background-color: #F3F5F8; " type="text" id="Placa" name="Placa" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Ingresa Placa:</label>
            </div>

            <div class="group">
                <input style="font-size: 15px; background-color: #F3F5F8; " type="text" id="Origins" name="Origins" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Locacion Origen:</label>
            </div>

            <div class="group">
                <input style="font-size: 15px; background-color: #F3F5F8; " type="text" id="Destination" name="Destination" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Locacion Destino:</label>
            </div>

            <p style="text-align: center;">&nbsp;</p>
            <button type="submit" class="Bto_saved">
                Guardar
            </button>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
        }

    </div>

</div>

<p style="text-align: center;">&nbsp;</p>
<h4 style="text-align:center;font-weight: 700" class="Tittlelabel"> Solicitudes recientes de contenedores </h4>
<h5 style="text-align:center" class="Tittlelabel"> Total: @ViewBag.Count</h5>

<ul class="responsive-table">

    <li class="table-header" id="tableData">

        <div class="col col-6" style="text-align:center">Estado</div>

        <div class="col col-4" style="text-align:center">Folio</div>

        @*<div class="col col-2" style="text-align:center">Who Request</div>*@

        <div class="col col-4" style="text-align:center">Contenedor</div>

        <div class="col col-4" style="text-align:center">Loc. Destino</div>

        <div class="col col-5" style="text-align:center">Loc. Origen</div>

        <div class="col col-6" style="text-align:center">Estatus</div>

        <div class="col col-2" style="text-align:center">Comentario</div>

        <div class="col col-6" style="text-align:center">Area</div>

        <div class="col col-8" style="text-align:center">Fecha</div>

        <div class="col col-4" style="text-align:center">Opciones</div>
    </li>

    <div id="tabla-container">
        @Html.Partial("table") <!-- Cargar la tabla al inicio -->
    </div>

</ul>

<script>
    function actualizarTabla() {
        $.ajax({
            url: '/HISENSE/ActualizarTabla', // Llama al método en el controlador
            type: 'GET',
            success: function (data) {
                $("#tabla-container").html(data); // Reemplaza la tabla con la nueva versión
                console.log("Tabla actualizada.");
            },
            error: function () {
                console.log("Error al actualizar la tabla.");
            }
        });
    }

    // Llamar la función cada 1 minuto (60,000 milisegundos)
    setInterval(actualizarTabla, 60000);
</script>


<script>
    $(document).ready(function () {

        // Ejecutar cuando cambie el área
        $('#Area').on('change', function () {
            var selectedArea = $(this).val();

            fetch('/HISENSE/GetGruaRequest?area=' + encodeURIComponent(selectedArea))
                .then(response => response.json())
                .then(data => {
                    const gruaRequest = (data.gruaRequest || '').toUpperCase();

                    if (gruaRequest === 'FALSE') {
                        $('#checkboxContainer1').hide(); // Ocultar
                        $('#chkActivoGrua').prop('checked', false);
                        $('#ActivoHidden').val('NO');
                    } else {
                        $('#checkboxContainer1').show(); // Mostrar
                    }
                })
                .catch(err => {
                    console.error("Error al consultar GruaRequest:", err);
                });
        });

        // Ejecutar al cargar la página
        $('#Area').trigger('change');

        // Checkbox GRÚA
        $('#chkActivoGrua').on('change', function () {
            if (this.checked) {
                $('#chkActivoRampa').prop('checked', false);
                $('#ResultRampa').val('NO');
            }
            $('#ActivoHidden').val(this.checked ? 'SI' : 'NO');
        });

        // Checkbox RAMPA
        $('#chkActivoRampa').on('change', function () {
            if (this.checked) {
                $('#chkActivoGrua').prop('checked', false);
                $('#ActivoHidden').val('NO');
            }
            $('#ResultRampa').val(this.checked ? 'SI' : 'NO');
        });

    });
</script>



@*<script>
        $(document).ready(function () {

            // Checkbox de GRÚA
            $('#chkActivoGrua').on('change', function () {
                if (this.checked) {
                    $('#chkActivoRampa').prop('checked', false);
                    $('#ResultRampa').val('NO'); // aseguramos que rampa quede en NO
                }
                $('#ActivoHidden').val(this.checked ? 'SI' : 'NO');
            });

            // Checkbox de RAMPA
            $('#chkActivoRampa').on('change', function () {
                if (this.checked) {
                    $('#chkActivoGrua').prop('checked', false);
                    $('#ActivoHidden').val('NO'); // desactiva GRÚA
                }
                $('#ResultRampa').val(this.checked ? 'SI' : 'NO');
            });

            // Mostrar u ocultar solo el checkbox de grúa según el área
            $('#Area').on('change', function () {
                var selected = $(this).val().toUpperCase();

                if (selected === 'ENVIOS' || selected === 'PT') {
                    $('#checkboxContainer1').hide();
                    $('#chkActivoGrua').prop('checked', false);
                    $('#ActivoHidden').val('NO');
                } else {
                    $('#checkboxContainer1').show();
                }
            });

            // Ejecutar la lógica inicial al cargar
            $('#Area').trigger('change');
        });
    </script>*@

<script>
    function toggleMotivoUrgencia() {
        const select = document.getElementById("NivelUrgencia");
        const motivoContainer = document.getElementById("MotivoUrgenciaContainer");
        const motivoInput = document.getElementById("MotivoUrgencia");

        const selectedValue = select.value.toLowerCase();

        if (selectedValue === "urgente" || selectedValue === "critico") {
            motivoContainer.style.display = "flex";
            motivoInput.value = ""; // Limpiar el valor si se cambia a urgente o crítico
        } else {
            motivoContainer.style.display = "none";
            motivoInput.value = "MOVIMIENTO NORMAL"; // Valor por defecto si es normal
        }
    }

    // Ejecutar al cargar la página
    window.addEventListener("DOMContentLoaded", toggleMotivoUrgencia);

    // Ejecutar cuando cambia el valor del select
    document.getElementById("NivelUrgencia").addEventListener("change", toggleMotivoUrgencia);
</script>

<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>