
@{
    ViewBag.Title = "RADA Logistics";
}

<link href="~/Stylee/HomeStylee.css" rel="stylesheet" />

<div class="container" style="text-align: center">
    <img src="~/Pictures/logo_radas-removebg-preview.png" height="100" />

    <h3 class="labelTitt"> Welcome to the Rada Logistics system </h3>
    <h4 style="font-size:15px" class="labelTitt">¡ @ViewBag.User !</h4>
    <h5 class="labelTitt">Select one of the options:</h5>
    <hr>

    <nav class="menu">
        @*<a @Html.ActionLink("‍👷 Supervisors", "Supervisors", "Users")</a>*@
        @*<a @Html.ActionLink("📩 Entry Request", "NewIonizer", "Ioni")</a>
            <a @Html.ActionLink("📥 Inventory Control", "QueryID", "Ioni")</a>*@
        @*<a @Html.ActionLink("📤 Request Container", "Menu", "Home")</a>*@
        <a @Html.ActionLink("📥 Entry Container", "EntryContainer", "RADA")</a>
        <a @Html.ActionLink("🏗️ Inventory Control", "Inventory", "RADA")</a>
        <a @Html.ActionLink("🗂️ View Records", "Record", "History")</a>
        @*<a @Html.ActionLink("‍🔴 Cancellation history", "Cancellation", "Home")</a>*@
        <a @Html.ActionLink("⛔ Logout", "LogIn", "Login")</a>
    </nav>

</div>


