
@{
    ViewBag.Title = "RADA Logistics | Inventory Records";
}

<link href="~/Stylee/RecordsStylee.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="~/Scripts/jquery.table2excel.min.js"></script>

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        <style>
            .page-title {
                text-align: center;
                font-size: 21px;
                font-weight: 700;
                color: #2c3e50;
                margin-bottom: 15px;
            }

            .section-subtitle {
                text-align: center;
                font-size: 17px;
                font-weight: 500;
                color: #555;
                margin-bottom: 25px;
            }
        </style>

        <h2 class="page-title"> Historial de inventario de contenedores </h2>
        <h4 class="section-subtitle"> Selecciona un rango de fecha para consultar la informacion </h4>

        <hr>
        <div style=" display: flex; justify-content: center; align-items: center; height: auto;">
            <button class="animated-button" onclick="location.href='@Url.Action("Inventory", "RADA")'">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="text">Return to back</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </div>
        <hr>

        @using (Html.BeginForm("InventoryRecords", "History", FormMethod.Post))
        {
            <div class="form-row">

                <div class="form-group col-md-6 text-center">
                    <label for="TimeStart" style="font-family: 'Century Gothic'; display: block">Fecha Inicial:</label>
                    <input id="TimeStart" name="TimeStart" type="date" class="form-control mx-auto" style="max-width: 100%; display: block;" />
                </div>

                <div class="form-group col-md-6 text-center">
                    <label for="Timeend" style="font-family: 'Century Gothic'; display: block">Fecha Final:</label>
                    <input id="Timeend" name="Timeend" type="date" class="form-control mx-auto" style="max-width: 100%; display: block;" />
                </div>

                <p style="text-align: center;">&nbsp;</p>

                <button style="width:45vh" type="submit" class="Bto_saved">
                    Buscar
                </button>

                <p style="text-align: center;">&nbsp;</p>
            </div>
        }
    </div>
</div>

<p style="text-align: center;">&nbsp;</p>
<h4 style="text-align: center; font-weight: 700;" class="Tittlelabel"> Registros ingresados recientemente al sistema </h4>
<h5 style="text-align:center" class="Tittlelabel"> Total de Registros: @ViewBag.Count</h5>

@using (Html.BeginForm("UpdateInventory", "RADA", FormMethod.Post))
{
    <div class="table-scroll">
        <ul class="responsive-table">
            <li class="table-header" id="tableData">

                <div class="col col-1" style="text-align:center">ID</div>

                <div class="col col-2" style="text-align:center">Usuario</div>

                <div class="col col-3" style="text-align:center">Contenedor</div>

                <div class="col col-4" style="text-align:center">Locacion</div>

                <div class="col col-5" style="text-align:center">Estatus</div>

                <div class="col col-6" style="text-align:center">Fecha</div>

                <div class="col col-7" style="text-align:center">Opciones</div>
            </li>
           @foreach (var person in ViewBag.Records)
            {

                <li class="table-row" id="tblCustomers">

                    <div class="col col-1" data-label="ID" style="text-align:center">@person.ID</div>

                    <div class="col col-2" data-label="Username" style="text-align:center">@person.Username</div>

                    <div class="col col-3" data-label="Container" style="text-align:center"> @person.Container</div>

                    <div class="col col-4" data-label="Location" style="text-align:center"> @person.LocationCode</div>

                    <div class="col col-5" data-label="Status" style="text-align:center"> @person.Status</div>

                    <div class="col col-6" data-label="Date" style="text-align:center"> @person.Datetimes</div>

                    <div class="col col-7" data-label="Options" style="text-align:center">
                        @*<a href="@Url.Action("RemoveInventary", "RADA" , new { ID = @person.ID })" class="link-label"> ❌ Delete </a>*@ 
                        <a href="#" class="delete-inventary" data-id="@person.ID">❌ Eliminar </a>/
                        <a href="@Url.Action("UpdateInventory", "RADA" ,  new { ID = @person.ID })" class="link-label"> ♻️ Actualizar </a>
                    </div>

                </li>
            }
        </ul>
    </div>
}

<table id="myTable" class="table2excel" class="table table-striped table-responsive-xl table-hover" hidden="hidden">
    <tr>

        <th style="text-align:center">
            <p> Username</p>
        </th>
        <th style="text-align:center">
            <p>Container</p>
        </th>
        <th style="text-align:center">
            <p>Location</p>
        </th>
        <th style="text-align:center">
            <p>Status</p>
        </th>
        <th style="text-align:center">
            <p>Date</p>
        </th>

    </tr>
    <tbody id="Table01">
        @foreach (var person in ViewBag.Records)
        {
            <tr>

                <td>
                    @person.Username
                </td>
                <td>
                    @person.Container
                </td>
                <td>
                    @person.LocationCode
                </td>
                <td>
                    @person.Status
                </td>
                <td>
                    @person.Datetimes
                </td>

            </tr>
        }
    </tbody>
</table>

<p style="text-align: center;">&nbsp;</p>
<div style="text-align:center">
    <button id="Bton_Export" class="btn btn-success" style="text-align:left"> Export xls. <i class="fa fa-file-text"></i></button>
</div>
<p style="text-align: center;">&nbsp;</p>

<script>
    var datenow = new Date().toLocaleTimeString('en-US', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' });
    // Function export grid to excel
    $("#Bton_Export").click(function () {
        $("#myTable").table2excel({
            name: "Backup file for HTML content",

            //  include extension also
            filename: "Control de Movimientos de Contenedores " + datenow + ".xls",

            // 'True' is set if background and font colors preserved
            preserveColors: false
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".delete-inventary").click(function (e) {
            e.preventDefault();
            var inventaryId = $(this).data("id");

            if (confirm("¿Estás seguro de que deseas eliminar este inventario?")) {
                $.ajax({
                    url: '@Url.Action("RemoveInventary", "RADA")',
                    type: 'POST',
                    data: { ID: inventaryId },
                    success: function (response) {
                        if (response.success) {
                            alert("Inventario eliminado correctamente.");
                            location.reload(); // Opcional: quitar fila sin recargar
                        } else if (response.redirectUrl) {
                            window.location.href = response.redirectUrl;
                        }
                    },
                    error: function () {
                        alert("Ocurrió un error al eliminar el inventario.");
                    }
                });
            }
        });
    });
</script>

