
@{
    ViewBag.Title = "RADA Logistics | Records";
}

<style>
    .urgencia-box {
        padding: 4px 10px;
        border-radius: 8px;
        font-weight: bold;
        display: inline-block;
        color: white;
        font-size: 0.9rem;
    }

    .urgencia-normal {
        background-color: #363F4A; /* gris */
        color: white;
    }

    .urgencia-urgente {
        background-color: #f5d142; /* amarillo */
        color: black;
    }

    .urgencia-critico {
        background-color: #D42401; /* naranja con rojo */
        color: white;
    }
</style>

<link href="~/Stylee/RecordsStylee.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="~/Scripts/jquery.table2excel.min.js"></script>

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        <style>
            .page-title {
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                color: #2c3e50;
                margin-bottom: 15px;
            }

            .section-subtitle {
                text-align: center;
                font-size: 17px;
                font-weight: 500;
                color: #555;
                margin-bottom: 25px;
            }
        </style>

        <h2 class="page-title">Historial de movimientos de contenedores</h2>
        <h4 class="section-subtitle">Ingresa un rango de fecha para poder consultar la informacion del sistema</h4>
        <p style="text-align: center;">&nbsp;</p>

        @*<hr>
            <div style=" display: flex; justify-content: center; align-items: center; height: auto;">
                <button class="animated-button" onclick="location.href='@Url.Action("HisenseHome", "Home")'">
                    <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                        <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                    </svg>
                    <span class="text">Return to back</span>
                    <span class="circle"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                        <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                    </svg>
                </button>
            </div>
            <hr>*@

        @using (Html.BeginForm("Records", "History", FormMethod.Post))
        {
            <div class="form-row">

                <div class="form-group col-md-6 text-center">
                    <label for="TimeStart" style="font-family: 'Century Gothic'; display: block">Fecha Inicial:</label>
                    <input id="TimeStart" name="TimeStart" type="date" class="form-control mx-auto" style="max-width: 100%; display: block;" />
                </div>

                <div class="form-group col-md-6 text-center">
                    <label for="Timeend" style="font-family: 'Century Gothic'; display: block">Fecha Final:</label>
                    <input id="Timeend" name="Timeend" type="date" class="form-control mx-auto" style="max-width: 100%; display: block;" />
                </div>

                <p style="text-align: center;">&nbsp;</p>

                <button style="width:45vh" type="submit" class="Bto_saved">
                    Buscar
                </button>

                <p style="text-align: center;">&nbsp;</p>
            </div>
        }
    </div>
</div>

<p style="text-align: center;">&nbsp;</p>
<h4 style="text-align: center; font-weight: 700;" class="Tittlelabel"> Registros ingresados recientemente al sistema </h4>
<h5 style="text-align:center" class="Tittlelabel"> Total de Registros: @ViewBag.Count</h5>

<div class="table-scroll">
    <ul class="responsive-table">
        <li class="table-header" id="tableData">

            <div class="col col-1" style="text-align:center">Detalles</div>

            <div class="col col-1" style="text-align:center">Folio</div>

            <div class="col col-1" style="text-align:center">Contenedor</div>

            <div class="col col-2" style="text-align:center">Origen</div>

            <div class="col col-3" style="text-align:center">Destino</div>

            <div class="col col-4" style="text-align:center">Estatus</div>

            <div class="col col-5" style="text-align:center">HSolicita</div>

            <div class="col col-6" style="text-align:center">HConfirma</div>

            <div class="col col-7" style="text-align:center">HEntrega</div>

            <div class="col col-8" style="text-align:center">Solicitado por</div>

            <div class="col col-9" style="text-align:center">Chofer</div>

            <div class="col col-10" style="text-align:center">Comentario</div>

            <div class="col col-10" style="text-align:center">Area</div>

            <div class="col col-11" style="text-align:center">Fecha</div>

            <div class="col col-2" style="text-align:center">Estado</div>

            @*<div class="col col-1" style="text-align:center">Opciones</div>*@

        </li>
        @foreach (var person in ViewBag.Records)
        {
            <li class="table-row" id="tblCustomers" style="color:black ; background-color:
    @(person.Comment == "Canceled by Rada" ? "#E9B4B4" :
      person.Comment == "Canceled by Hisense" ? "#E9B4B4" :
      person.Comment == "PENDING" ? "#DDDCD4" :
      person.Comment == "CHOFER TERMINA MOVIMIENTO" ? "#C0E9B4" :
      person.Comment == "Movement in process" ? "#E5F8EC" : "#E9D8B4")">

                <div class="col col-1" data-label="Options" style="text-align:center">

                    @Html.ActionLink("🎴 Detalles", "Details", "HISENSE", new { ID = person.Folio, Record = "RADASers" }, null)

                </div>

                <div class="col col-1" data-label="Folio" style="text-align:center">@person.Folio</div>

                <div class="col col-1" data-label="Container" style="text-align:center">@person.Container</div>

                <div class="col col-2" data-label="Origins" style="text-align:center">@person.Origen</div>

                <div class="col col-3" data-label="Destination" style="text-align:center"> @person.Destination</div>

                <div class="col col-4" data-label="Status" style="text-align:center"> @person.Status</div>

                <div class="col col-5" data-label="HRequest" style="text-align:center"> @person.HSolicitud</div>

                <div class="col col-6" data-label="HConfirm" style="text-align:center"> @person.HConfirm</div>

                <div class="col col-7" data-label="HFinish" style="text-align:center"> @person.HFinish</div>

                <div class="col col-8" data-label="Who Request" style="text-align:center"> @person.WhoRequest</div>

                <div class="col col-9" data-label="Choffer" style="text-align:center"> @person.Choffer</div>

                <div class="col col-10" data-label="Comment" style="text-align:center"> @person.Comment</div>

                <div class="col col-10" data-label="Area" style="text-align:center"> @person.Area</div>

                <div class="col col-11" data-label="Date" style="text-align:center"> @person.Date</div>

                <div class="col col-2" data-label="Folio" style="text-align:center">
                    <span class="urgencia-box @(person.Urgencia == "Normal" ? "urgencia-normal" : person.Urgencia == "Urgente" ? "urgencia-urgente" : person.Urgencia == "Critico" ? "urgencia-critico" : "")">
                        @person.Urgencia
                    </span>
                </div>

            </li>
        }
    </ul>
</div>

<table id="myTable" class="table2excel table table-striped table-responsive-xl table-hover" hidden="hidden">
    <thead>
        <tr>
            <th style="text-align:center"><p>Container</p></th>
            <th style="text-align:center"><p>Origins Loc</p></th>
            <th style="text-align:center"><p>Destination Loc</p></th>
            <th style="text-align:center"><p>Status</p></th>
            <th style="text-align:center"><p>HRequest</p></th>
            <th style="text-align:center"><p>HConfirm</p></th>
            <th style="text-align:center"><p>HFinish</p></th>
            <th style="text-align:center"><p>Who Request</p></th>
            <th style="text-align:center"><p>Choffer</p></th>
            <th style="text-align:center"><p>Comment</p></th>
            <th style="text-align:center"><p>Area</p></th>
            <th style="text-align:center"><p>Date</p></th>
            <th style="text-align:center"><p>Etapa 1</p></th>
            <th style="text-align:center"><p>Etapa 2</p></th>
            <th style="text-align:center"><p>Etapa 3</p></th>
            <th style="text-align:center"><p>Etapa 4</p></th>
            <th style="text-align:center"><p>Etapa 5</p></th>
            <th style="text-align:center"><p>Etapa 6</p></th>
            <th style="text-align:center"><p>Etapa 7</p></th>
            <th style="text-align:center"><p>Etapa 8</p></th>
            <th style="text-align:center"><p>Etapa 9</p></th>
            <th style="text-align:center"><p>Etapa 10</p></th>
            <th style="text-align:center"><p>Etapa 11</p></th>
            <th style="text-align:center"><p>Etapa 12</p></th>
            <th style="text-align:center"><p>Etapa 13</p></th>
            <th style="text-align:center"><p>Etapa 14</p></th>
            <th style="text-align:center"><p>Etapa 15</p></th>
            <th style="text-align:center"><p>Etapa 16</p></th>
            <th style="text-align:center"><p>Etapa 17</p></th>
            <th style="text-align:center"><p>Etapa 18</p></th>
            <th style="text-align:center"><p>Etapa 19</p></th>
            <th style="text-align:center"><p>Etapa 20</p></th>
        </tr>
    </thead>
    <tbody id="Table01">
        @foreach (var person in ViewBag.RecordExcel)
        {
            <tr>
                <td>@person.Container</td>
                <td>@person.Origen</td>
                <td>@person.Destination</td>
                <td>@person.Status</td>
                <td>@person.HSolicitud</td>
                <td>@person.HConfirm</td>
                <td>@person.HFinish</td>
                <td>@person.WhoRequest</td>
                <td>@person.Choffer</td>
                <td>@person.Comment</td>
                <td>@person.Area</td>
                <td>@person.Date</td>
                <td>@person.Etapa_1</td>
                <td>@person.Etapa_2</td>
                <td>@person.Etapa_3</td>
                <td>@person.Etapa_4</td>
                <td>@person.Etapa_5</td>
                <td>@person.Etapa_6</td>
                <td>@person.Etapa_7</td>
                <td>@person.Etapa_8</td>
                <td>@person.Etapa_9</td>
                <td>@person.Etapa_10</td>
                <td>@person.Etapa_11</td>
                <td>@person.Etapa_12</td>
                <td>@person.Etapa_13</td>
                <td>@person.Etapa_14</td>
                <td>@person.Etapa_15</td>
                <td>@person.Etapa_16</td>
                <td>@person.Etapa_17</td>
                <td>@person.Etapa_18</td>
                <td>@person.Etapa_19</td>
                <td>@person.Etapa_20</td>
            </tr>
        }
    </tbody>
</table>

<p style="text-align: center;">&nbsp;</p>
<div style="text-align:center">
    <button id="Bton_Export" class="btn btn-success" style="text-align:left"> Export xls. <i class="fa fa-file-text"></i></button>
</div>
<p style="text-align: center;">&nbsp;</p>

<script>
    var datenow = new Date().toLocaleTimeString('en-US', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' });
    // Function export grid to excel
    $("#Bton_Export").click(function () {
        $("#myTable").table2excel({
            name: "Backup file for HTML content",

            //  include extension also
            filename: "Control de Movimientos de Contenedores " + datenow + ".xls",

            // 'True' is set if background and font colors preserved
            preserveColors: false
        });
    });
</script>

