
@{
    ViewBag.Title = "RADA Logistics - Entry Container";
}

<link href="~/Stylee/PageRADAEntry.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        <h4 class="labelTitt"> Entry of requested container movements </h4>
        <h5 style="text-align:center"> Container inbound and request </h5>

        <hr>
        <div style=" display: flex; justify-content: center; align-items: center; height: auto;">
            <button class="animated-button" onclick="location.href='@Url.Action("RadaHome", "Home")'">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="text">Return to back</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </div>
        <hr>
    </div>
</div>
@using (Html.BeginForm("Query", "RADA", FormMethod.Post))
{
    <div class="form-row">
        <input id="fecha" style="max-width: 100%; font-size: 13px" name="fecha" type="date" /> <br>
    </div>

    <p style="text-align: center;">&nbsp;</p>
    <div style="">
        <button style=" text-align:center; padding: 5px 45px; font-size: 1.5rem; border-radius: 15px; border: 2px solid #E0D5DF; background: none; color: #1C34A2; cursor: pointer; width: 35vh; border-radius: 12px; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); position: absolute;">
            ♻️ Query
        </button>
    </div>
}

<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>

<h4 style="text-align:center" class="Tittlelabel"> Latest requested records entered into the system </h4>
<h5 style="text-align:center" class="Tittlelabel"> Total Records: @ViewBag.Count</h5>

<ul class="responsive-table">
    <li class="table-header" id="tableData">

        <div class="col col-1" style="text-align:center">Folio</div>

        <div class="col col-1" style="text-align:center">Container</div>

        <div class="col col-2" style="text-align:center">Origins</div>

        <div class="col col-3" style="text-align:center">Destination</div>

        <div class="col col-4" style="text-align:center">Status</div>

        <div class="col col-5" style="text-align:center">HRequest</div>

        <div class="col col-6" style="text-align:center">HConfirm</div>

        <div class="col col-7" style="text-align:center">HFinish</div>

        <div class="col col-8" style="text-align:center">Who Request</div>

        <div class="col col-9" style="text-align:center">Choffer</div>

        <div class="col col-11" style="text-align:center">Date</div>

        <div class="col col-10" style="text-align:center">Comment</div>

        <div class="col col-12" style="text-align:center">Options</div>

    </li>
    @foreach (var person in ViewBag.Records)
    {
        <li class="table-row" id="tblCustomers" style="color:black ; background-color:
    @(person.Comment == "Canceled by Rada" ? "#F9D0D0" :
      person.Comment == "Canceled by Hisense" ? "#F9D0D0" :
      person.Comment == "PENDING" ? "#F8E6E6" :
      person.Comment == "Movement Completed" ? "#D0F9E5" :
      person.Comment == "Movement in process" ? "#E5F8EC" : "black")">

            <div class="col col-1" data-label="Folio" style="text-align:center">@person.Folio</div>

            <div class="col col-1" data-label="Container" style="text-align:center">@person.Container</div>

            <div class="col col-2" data-label="Origins" style="text-align:center">@person.Origen</div>

            <div class="col col-3" data-label="Destination" style="text-align:center"> @person.Destination</div>

            <div class="col col-4" data-label="Status" style="text-align:center"> @person.Status</div>

            <div class="col col-5" data-label="HRequest" style="text-align:center"> @person.HSolicitud</div>

            <div class="col col-6" data-label="HConfirm" style="text-align:center"> @person.HConfirm</div>

            <div class="col col-7" data-label="HFinish" style="text-align:center"> @person.HFinish</div>

            <div class="col col-8" data-label="Who Request" style="text-align:center"> @person.WhoRequest</div>

            <div class="col col-9" data-label="Choffer" style="text-align:center"> @person.Choffer</div>

            <div class="col col-11" data-label="Date" style="text-align:center"> @person.Date</div>

            <div class="col col-10" data-label="Comment" style="text-align:center"> @person.Comment</div>

            <div class="col col-12" data-label="Options" style="text-align:center">

                @Html.ActionLink("🎚️ View", "ViewConfirm", new { ID = @person.Folio })

            </div>
        </li>
    }
</ul>

@*<script>
    $(document).ready(function () {
        $("#fechaInput").change(function () { // Se ejecuta al seleccionar una fecha
            var fechaSeleccionada = $(this).val();

            $.ajax({
                url: "/RADA/Query", // Ruta del controlador
                type: "GET",
                data: { fecha: fechaSeleccionada },
                success: function (response) {
                    $("#contenedor").html(data); // Inserta la vista parcial en el div
                },
                error: function (xhr, status, error) {
                    alert("Error: " + error);
                }
            });
        });
    });
</script>*@
