
@{
    ViewBag.Title = "RADA Logistics - Inventory";
}

<link href="~/Stylee/PagesRADAStylee.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="~/Scripts/jquery.table2excel.min.js"></script>

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        <style>
            .page-title {
                text-align: center;
                font-size: 21px;
                font-weight: 700;
                color: #2c3e50;
                margin-bottom: 15px;
                letter-spacing: 0px;
            }

            .section-subtitle {
                text-align: center;
                font-size: 17px;
                font-weight: 500;
                color: #555;
                margin-bottom: 25px;
            }
        </style>

        <h2 class="page-title" style="font-weight: 700;"> Inventory Control - View Inventory Systems </h2>
        <h4 class="section-subtitle">Create Inventary and update control</h4>
        <p style="text-align: center;">&nbsp;</p>

        @*<hr>
        <div style=" display: flex; justify-content: center; align-items: center; height: auto;">
            <button class="animated-button" onclick="location.href='@Url.Action("RadaHome", "Home")'">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="text">Return to back</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </div>
        <hr>*@

        @using (Html.BeginForm("ProcessData", "RADA", FormMethod.Post))
        {
            <p style="text-align: center;">&nbsp;</p>
            <h5 class="Tittlelabel" style="font-weight: 700;"> Username Overview </h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
            <p style="text-align: center;">&nbsp;</p>

            <div class="group">
                <input style="font-size:12px" readonly="@true" type="text" id="User" name="User" value="@ViewBag.User" required>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>

            <h5 class="Tittlelabel" style="font-weight: 700;"> Container Overview </h5>
            <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
            <p style="text-align: center;">&nbsp;</p>

            <div class="group">
                <input type="text" id="Container" name="Container" style="background-color: #F3F5F8;" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter your Container:</label>
            </div>

            <div class="group">
                <input type="text" id="Location" name="Location" style="background-color: #F3F5F8;" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter location:</label>
            </div>

            <p style="text-align: center;">&nbsp;</p>
            <button type="submit" class="Bto_saved">
                ✅ Save
            </button>
            <p style="text-align: center;">&nbsp;</p>
        }
    </div>

</div>

@*<div class="form-row" style="width: 100%; text-align: center">

        <p class="tittleSearch">Select Date: </p>
        <input id="TimeStart" style="max-width: 100%" name="TimeStart" type="date" /> <br>

    </div>*@

<p style="text-align: center;">&nbsp;</p>
<h4 style="text-align: center; font-weight: 700;" class="Tittlelabel"> Latest inventory records entered into the system </h4>
<h5 style="text-align:center" class="Tittlelabel"> Total Records: @ViewBag.Count</h5>

<div style="text-align:center">
    <p style="padding:5px 0px 5px 0px">@Html.ActionLink("View History", "InventoryRecords", "History")</p>
</div>

@using (Html.BeginForm("UpdateInventory", "RADA", FormMethod.Post))
{

    <ul class="responsive-table">
        <li class="table-header" id="tableData">

            <div class="col col-1" style="text-align:center">ID</div>

            <div class="col col-2" style="text-align:center">Username</div>

            <div class="col col-3" style="text-align:center">Container</div>

            <div class="col col-4" style="text-align:center">Location</div>

            <div class="col col-5" style="text-align:center">Status</div>

            <div class="col col-6" style="text-align:center">Date</div>

            <div class="col col-7" style="text-align:center">Options</div>
        </li>
        @foreach (var person in ViewBag.Records)
        {

            <li class="table-row" id="tblCustomers">

                <div class="col col-1" data-label="ID" style="text-align:center">@person.ID</div>

                <div class="col col-2" data-label="Username" style="text-align:center">@person.Username</div>

                <div class="col col-3" data-label="Container" style="text-align:center"> @person.Container</div>

                <div class="col col-4" data-label="Location" style="text-align:center"> @person.LocationCode</div>

                <div class="col col-5" data-label="Status" style="text-align:center"> @person.Status</div>

                <div class="col col-6" data-label="Date" style="text-align:center"> @person.Datetimes</div>

                <div class="col col-7" data-label="Options" style="text-align:center">

                    @*@Html.ActionLink("❌ Delete", "RemoveInventary", new { ID = @person.ID })*@
                    <a href="#" class="delete-inventary" data-id="@person.ID">❌ Delete</a> /
                    @Html.ActionLink("♻️ Update", "UpdateInventory", new { ID = @person.ID })

                </div>

            </li>

        }
    </ul>
}

<table id="myTable" class="table2excel" class="table table-striped table-responsive-xl table-hover" hidden="hidden">
    <tr>

        <th style="text-align:center">
            <p> Username</p>
        </th>
        <th style="text-align:center">
            <p>Container</p>
        </th>
        <th style="text-align:center">
            <p>Location</p>
        </th>
        <th style="text-align:center">
            <p>Status</p>
        </th>
        <th style="text-align:center">
            <p>Date</p>
        </th>

    </tr>
    <tbody id="Table01">
        @foreach (var person in ViewBag.Records)
        {
            <tr>

                <td>
                    @person.Username
                </td>
                <td>
                    @person.Container
                </td>
                <td>
                    @person.LocationCode
                </td>
                <td>
                    @person.Status
                </td>
                <td>
                    @person.Datetimes
                </td>

            </tr>
        }
    </tbody>
</table>

<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".delete-inventary").click(function (e) {
            e.preventDefault();
            var inventaryId = $(this).data("id");

            if (confirm("¿Estás seguro de que deseas eliminar este inventario?")) {
                $.ajax({
                    url: '@Url.Action("RemoveInventary", "RADA")',
                    type: 'POST',
                    data: { ID: inventaryId },
                    success: function (response) {
                        if (response.success) {
                            alert("Inventario eliminado correctamente.");
                            location.reload(); // Opcional: quitar fila sin recargar
                        } else if (response.redirectUrl) {
                            window.location.href = response.redirectUrl;
                        }
                    },
                    error: function () {
                        alert("Ocurrió un error al eliminar el inventario.");
                    }
                });
            }
        });
    });
</script>

@*<p style="text-align: center;">&nbsp;</p>
    <div style="text-align:center">
        <button id="Bton_Export" class="btn btn-success" style="text-align:left"> Export xls. <i class="fa fa-file-text"></i></button>
    </div>
    <p style="text-align: center;">&nbsp;</p>

    <script>
        var datenow = new Date().toLocaleTimeString('en-US', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' });
        // Function export grid to excel
        $("#Bton_Export").click(function () {
            $("#myTable").table2excel({
                name: "Backup file for HTML content",

                //  include extension also
                filename: "Inventary Control Container " + datenow + ".xls",

                // 'True' is set if background and font colors preserved
                preserveColors: false
            });
        });
    </script>*@