
@{
    ViewBag.Title = "RADA Logistics - Confirmation";
}

<link href="~/Stylee/PagesRADAConfirms.css" rel="stylesheet" />

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        <style>
            .page-title {
                text-align: center;
                font-size: 21px;
                font-weight: 700;
                color: #2c3e50;
                margin-bottom: 15px;
                letter-spacing: 0px;
            }

            .section-subtitle {
                text-align: center;
                font-size: 17px;
                font-weight: 500;
                color: #555;
                margin-bottom: 25px;
            }
        </style>

        <h2 class="page-title" style="font-weight: 700;"> Confirmacion de Movimiento </h2>
        <h4 class="section-subtitle"> Selecciona a un chofer para completar la confirmacin del movimiento </h4>

        <hr>
        <div style=" display: flex; justify-content: center; align-items: center; height: auto;">
            <button class="animated-button" onclick="location.href='@Url.Action("EntryContainer", "RADA")'">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="text">Return to back</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </div>
        <hr>

        @using (Html.BeginForm("UpdateConfirmContainer", "RADA", FormMethod.Post))
        {
            <input hidden="hidden" value="@ViewBag.id" id="ID" name="ID" />
            <input hidden="hidden" value="@ViewBag.Username" id="Username" name="Username" />
            <input hidden="hidden" value="@ViewBag.area" id="area" name="area" />

            <h1 style="font-size:22px"> Informacion general del contenedor </h1>

            <p style="text-align: center;"> &nbsp;</p>

            <center>
                <div class="row" style="text-align:center">
                    <div class="col-md-3" style="text-align:center">

                        <p>Quien Solicita: </p>
                        <h1 style="font-size:18px">@ViewBag.WhoSend</h1>

                    </div>
                    <div class="col-md-3" style="text-align:center">

                        <p>Contenedor Solicitado:</p>
                        <h1 style="font-size:18px">@ViewBag.Container</h1>
                        <input hidden="hidden" value="@ViewBag.Container" id="Container" name="Container" />

                    </div>

                    <div class="col-md-3" style="text-align:center">

                        <p>Locacion Destino:</p>
                        <h1 style="font-size:18px">@ViewBag.Destination</h1>

                    </div>

                    <div class="col-md-3" style="text-align:center">

                        <p>Locacion Origen:</p>
                        <h1 style="font-size:18px">@ViewBag.Origins</h1>

                    </div>
                </div>
            </center>

            <center>
                <div class="row" style="text-align:center">
                    <div class="col-md-4" style="text-align:center">

                        <p>Estatus del contenedor: </p>
                        <h1 style="font-size:18px">@ViewBag.Status</h1>

                    </div>
                    <div class="col-md-4" style="text-align:center">

                        <p>Fecha de Solicitud (Hora):</p>
                        <h1 style="font-size:18px" id="Time_Confirm" name="Time_Confirm">@ViewBag.Datetime</h1>

                    </div>

                    <div class="col-md-4" style="text-align:center">

                        <p>Fecha de Solicitud (Mes):</p>
                        <h1 style="font-size:18px">@ViewBag.Date</h1>

                    </div>

                </div>
            </center>

            @*<p style="text-align: center;">&nbsp;</p>
            <div class="group">
                <p class="subttitle"></p>
                <select name="Choffer" id="Choffer" class="form-control" multiple size="6">
                    @foreach (var user in ViewBag.RadaUsers)
                    {
                        <option value="@user.Username">@user.Username</option>
                    }
                </select>
            </div>*@

            <h5 class="Tittlelabel" style=" font-weight: 700; color: #5264AE"> Selecciona a un chofer:</h5>
            <div class="group" style="padding: 5px 0px 0px 0px">
                <select name="Choffer" id="Choffer" class="form-control" style="max-width: 40vh; color: black; text-align: center">
                    @foreach (var person in ViewBag.RadaUsers)
                    {
                        <option value="@person.Username">@person.Username</option>
                    }
                </select>
            </div>

            <button type="submit" class="Bto_saved">
                ✅ Confirmar Proceso
            </button>

            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>

            <h4 class="Tittlelabel" style="font-weight: 700;"> Choferes Actuales en movimiento </h4>
            <ul class="responsive-table">

                <li class="table-header" id="tableData">

                    <div class="col col-1" style="text-align:center">MOV.</div>

                    <div class="col col-8" style="text-align:center">Choffer</div>

                    <div class="col col-1" style="text-align:center">Status</div>

                    <div class="col col-1" style="text-align:center">Container</div>

                    <div class="col col-8" style="text-align:center">Message</div>
                </li>
                @foreach (var person in ViewBag.Records)
                {
                    <li class="table-row" id="tblCustomers">

                        <div class="col col-1" data-label="ID" style="text-align:center">@person.Foio</div>

                        <div class="col col-8" data-label="Username" style="text-align:center">@person.Choffer</div>

                        <div class="col col-1" data-label="Container" style="text-align:center"> @person.StatusNow</div>

                        <div class="col col-1" data-label="Location" style="text-align:center"> @person.Container</div>

                        <div class="col col-8" data-label="Location" style="text-align:center"> @person.Message</div>

                    </li>
                }

            </ul>

            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>

        }
    </div>
</div>

