
@{
    ViewBag.Title = "ViewComplete";
}

<link href="~/Stylee/PagesRADAConfirms.css" rel="stylesheet" />

<div class="container" style="text-align: center; width: 100%; height: 100%">

    <div style="text-align: center; min-width: 100%; ">

        <h4 class="labelTitt" style="font: bold; font-size: 25px">
            Movement Details
        </h4>
        <h5 style="text-align:center">Details Information</h5>

        <hr>
        <div style=" display: flex; justify-content: center; align-items: center; height: auto;">
            <button class="animated-button" onclick="location.href='@Url.Action("EntryContainer", "RADA")'">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
                <span class="text">Return to back</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </div>
        <hr>

        <h5 class="Tittlelabel" style="font: bold; font-size: 18px"> Information Request</h5>
        <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
        <p style="text-align: center;">&nbsp;</p>

        <center>
            <div class="row" style="text-align:center">
                <div class="col-md-3" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">Request by Container: </p>
                    <h1 style="font-size:14px">@ViewBag.Request</h1>

                </div>
                <div class="col-md-3" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">Container Request:</p>
                    <h1 style="font-size: 14px">@ViewBag.Container</h1>

                </div>

                <div class="col-md-3" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">Status Container:</p>
                    <h1 style="font-size: 14px">@ViewBag.Status</h1>

                </div>

                <div class="col-md-3" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">Origins Location:</p>
                    <h1 style="font-size: 14px">@ViewBag.origins</h1>

                </div>
            </div>
        </center>

        <center>
            <div class="row" style="text-align:center">
                <div class="col-md-6" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">Destionation Location: </p>
                    <h1 style="font-size: 14px">@ViewBag.destination</h1>

                </div>
                <div class="col-md-6" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">Comment Mov:</p>
                    <h1 style="font-size: 14px">@ViewBag.comment</h1>

                </div>
            </div>
        </center>

        <h5 class="Tittlelabel" style="font: bold; font-size: 18px"> Movement in the process of a driver </h5>
        <hr style="border: 1px solid #CECECE; width: 35vh; margin: 5px auto ">
        <p style="text-align: center;">&nbsp;</p>

        <center>
            <div class="row" style="text-align:center">
                <div class="col-md-3" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">Time Request: </p>
                    <h1 style="font-size: 14px">@ViewBag.Solicitud</h1>

                </div>
                <div class="col-md-3" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">Time Confirmation:</p>
                    <h1 style="font-size: 14px">@ViewBag.Confirmacion</h1>

                </div>

                <div class="col-md-3" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">
                        Time Finish:
                    </p>
                    <h1 style="font-size: 14px">@ViewBag.entrega</h1>

                </div>

                <div class="col-md-3" style="text-align:center">

                    <p style="font-size: 18px; color: #021e57 ">Choffer Mov:</p>
                    <h1 style="font-size:14px">@ViewBag.choffer</h1>

                </div>
            </div>
        </center>


        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">&nbsp;</p>
        @using (Html.BeginForm("ReturnContainer", "RADA", FormMethod.Post))
        {
            <input value="@ViewBag.ID" hidden="hidden" id="id" name="id"/>
            <button type="submit" class="Bto_saved">
                ⬅️ Return Select other Choffer
            </button>
        }

        @using (Html.BeginForm("ConfirmContainer", "RADA", FormMethod.Post))
        {
            <input value="@ViewBag.ID" hidden="hidden" id="id" name="id"/>
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>
            <button type="submit" class="Bto_saved">
                ✅ Complete Movement
            </button>
        }
        <p style="text-align: center;">&nbsp;</p>
    </div>

</div>